!!!
html
  head
    title= settings.title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js')
    script(src='/javascripts/raphael.js')
    script(src='/javascripts/g.raphael.js')
    script(src='/javascripts/g.pie.js')
    script(src='/javascripts/dialog.js')
    script(src='/javascripts/main.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script!= javascript
  body!= body

  script#confirm(type='text/template')
    .message Message
    .actions
      button.ok OK
      button.cancel Cancel

  script#chart(type='text/template')
    .chart

  script#config(type='text/template')
    form(action='/config', method='post')
      input(type='hidden', name='_method', value='put')
      p
        label(for='bracket') Tax Bracket:
        input(type='text', name='bracket', placeholder='%', value=config.bracket)
      p.buttons
        input(type='submit', value='Save')

  div#overlay.hide