
ul#menu
  li.charts: a(href='#') Charts
  li.config: a(href='#') Config

ul#notifications

#current-month= monthName(month)

- if (month)
  - var name = monthName(month - 1)
  a#prev-month(href='/month/' + name.toLowerCase())= name

- if (month < 11)
  - var name = monthName(month + 1)
  a#next-month(href='/month/' + name.toLowerCase())= name

form#items-form(action='/')
  table#items
    thead
      tr
        th
        th
        th Amount
        th Comment
        th Category
        th Tags
        th Date
    tbody
      != partial('item', { collection: items })
      != partial('item', { object: {}})
      - if (!empty(items))
        tr.totals
          td
          td
          td.amount= total(items, 'amount')
          td(colspan=4)

#category-chart
#entity-chart
